@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');

@font-face {
    font-family: 'Roman Antique';
    src: url(Fontes/RomanAntique.ttf) format('opentype'),url(Fontes/RomanAntique.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
:root{
    --colorTitulo:#f2eecb;
    --colorNav:#F9EAC5;
    --colorTexto:#DBDBAD;
    --colorSubTitulo: #DBD2AD;
}
*{
    margin: 0px;
    padding: 0px;
    border-radius: 12px;
}
html { 
    background: url(imagens/criacaodomundo/Mapa-1500.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
    min-height: 100%;
    margin: 0%;
    padding: 0%;
    font-family: 'Zen Antique', serif;;
}

header{
    background-color: var(--colorTitulo);
    font-family: 'Roman Antique', serif;
    font-size: 24px;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.616);
    margin-bottom: 15px;
    margin-top: 15px;

}
nav{
    background-color: var(--colorNav);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.616);
    font-family: 'Roman Antique', serif;
    font-size: 18px;
    margin-bottom: 15px;
    padding: 10px;
}

nav > a{
    margin: 30px;
    color: blue;
    font-family: 'Roman Antique', serif;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav > a:hover{
    background-color: var(--colorTexto);
}

.titulos{
    background-color: var(--colorTitulo);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.616);
    font-family: 'Roman Antique', serif;
    font-size: 1.4em;
    text-align: justify;
    margin-top: 20px;
    padding: 5px;
}


.subtitulo{
    background-color: var(--colorSubTitulo);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.616);
    font-family: 'Roman Antique', serif;
    font-size: 1.2em;
    text-align: justify;
    padding: 5px;
    border-radius: 8px;
    margin-left: 20px;

}

section{
    background-color: var(--colorTexto);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.616);
    font-family: 'Zen Antique', serif;
    font-size: 1em;
    text-align: justify;
    padding: 10px;
    margin-bottom: 10px;
    
}
menu{
    background-color: var(--colorNav);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.616);
    font-family: 'Roman Antique', serif;
    font-size: 1.2em;
    text-align: justify;
    padding-left: 10px;
    list-style-position: inside;
    margin-top: 20px;
    width: fit-content;
}
.subsection{
    margin-left: 20px;
}
img{
    max-width: 100%;
    height: auto;
}

h4{
    text-align: center;
    font-family: 'Roman Antique', serif;
    background-color: var(--colorTitulo);
    width: 100%;
    font-size: 1.3em;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.616);

}
p{
    background-color: var(--colorTexto);
    width: 98%;
    font-family: 'Zen Antique', serif;
    font-size: 1em;
    padding: 3px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.616);

}
#InfoPersonagens{
    position: absolute;
    right: 1%;
    width: 22%;
    top: 23%;
    height: 27%;
}
#introducao{
    width: 75%;
}
main{
    width: 75%;
}
